/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.username-greeting{
    color: white;
    font-size: 12px;
}

.logout-button-h{
    padding: 3px;
    background-color: lightgray;
    border-radius: 3px;
    color: blue;
    margin-left: 5px;
}
 .greet-user{
     display: flex; 
    justify-content: flex-end;
    padding: 8px 20px;
    align-items: center;
    background-color: #555;
    border-bottom: 1px solid #ccc;
 }
.login-signup {
    display: flex; 
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
    background-color: #555;
    border-bottom: 1px solid #ccc;
}
.login-signup > .right-nav-bar > a{
    color: antiquewhite;
    text-decoration: none;
    padding: 2px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.impt-label{
    white-space: normal;
    /* margin-bottom: 15px; */
    background-color:#b94a48;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 3px;
    font-weight: 700;
    padding: 3px;
    width: 70%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.site-title{
    
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 40px;
    padding-left: 0;
}

.bottom-header{
    background:rgb(240, 240, 240);
    display: flex;
    
}

.login-form-container{
    position: relative;
    background: rgba(110, 110, 110, .75);
    height: 845px;
    width: 30%;
    margin-left: 100px;
}

.login-input{
    width: 80%;
    display: flex;
    align-content: center;
    height: 40px;
    border-radius: 14px;
    
}
.login-input:focus{
    background-color: cornsilk;
    border: 0px;
    height: 35px;
    width: 85%;
}
.password-input{
    width: 80%;
    display: flex;
    align-content: center;
    height: 40px;
    border-radius: 14px;
    margin-top: 15px;
}
.password-input:focus{
    background-color: cornsilk;
    border: 0px;
    height: 35px;
    width: 85%;
}

.session-form-submit{
    width: 80%;
    height: 30px;
    background-color: orange;
    font-size: 20px;
    border-radius: 9px;
    overflow: hidden;
}

.background-image-signup{
    background-size: cover;
    background-image: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_743,q_50,w_1903/v1/clients/yorkcountysc/FISHING_781ccf0a-f06d-42fc-85f4-ec6b49d227e5.jpg")
}

.background-image-index{
    width: 100%;
    height: 550px;
    
    /* position: absolute; */
}

.title-login{
    font-size: 24px;
}
.link-change{
    margin-top: 20px;
    color: whitesmoke;
    font-size: 14px;
    margin-bottom: 5px;
}
.link-change > a {
    color: white;
    text-emphasis: bold;
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
}

.login-label{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.sign-background{
    width: 100%;
    
}

.project-title{
    color: #333;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: Nunito,helvetica,arial,sans-serif;
}

.project-materials{
    font-size: 20px;
    font-family: Nunito,helvetica,arial,sans-serif;
    font-weight: 300;
    color: #555;
    text-align: center;
    margin-bottom: 15px;
}

.project-materials > .mats {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;

}


.project-body{
    font-family: Nunito,helvetica,arial,sans-serif;
    text-align: center;
    display: flex;
    font-weight: 200;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
}

.index-constants{
    display: flex;
    
    justify-content: space-between; 
    width: 90%;
    line-height: 20px;
    height: 200px;
    align-items: center;
    margin-left: 100px;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}

.first-index-constant{
    
    /* flex: 1 1 0px; */
    padding: 10px;
    margin-bottom: 10px;
    align-content: center;
    display: inline-block;
    font-size: 34px;
     margin-left: 60px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.third-index-constant{
    
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 34px;
    margin-top: 22px;
    margin-left: 60px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.second-index-constant{
    /* margin-top: 22px; */
    /* flex: 1 1 0px; */
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 34px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     margin-left: 60px;
}

.index-con{
    margin-block-start: 1em;
    margin-block-end: 1em;
    display: block;
    line-height: 1.4;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 3px 0 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    max-width: 400px;
}
.right-index-con{
     margin-block-start: 1em;
    margin-block-end: 1em;
    display: block;
    line-height: 1.4;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 3px 0 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    max-width: 400px;
    margin-left: 20px;
}

.item-grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 200px;
    margin-right: 200px;
    grid-gap: 50px;
}

.lead-project-photo{
    width: 240px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-items{
    border-radius: 3px;
    overflow: hidden;
    margin-right: 15px;
    border: 1px solid rgba(0,0,0,0.15);
    width: 240px;
    min-width: 240px;
    transition: all 0.2s ease-in-out;
    height: 300px;
   
}

.project-link{
    
    line-height: 20px;
    font-size: 14px;
    margin: 0 auto;
    
    margin-top: 40px;
}
.project-items:hover{
    transform: scale(1.2)
}
.item-link{
    text-decoration: none;
    color:rgb(100, 100, 100);
    font-weight: 500;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.link-div{
   display: flex;
   text-emphasis: none;
}

.logo-small{
    width: 50px;
    height: 60px;
    margin-top: 20px;
    margin-left: 10px;
}
.logo-larger{
    width: 70px;
    height: 85px;
    margin-top: 20px;
    margin-left: 10px;
}
.perm-bottom-border{
    height: 200px;
    width: 100%;
    background-color: #555;
    /* position: absolute; */
    bottom: 0;
    margin-top: 200px;
}

.homeButton{
    margin-top: 3px;
    height: 15px;
    width: 15px;
    align-content: left;
}

.over-image{
    left: 10%;
    position: absolute;
    top: 250px;
    color: rgb(128, 126, 127);
    font-family: "myriad-pro-condensed",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 60px;
}

.over-image-p{
    left: 10%;
    position: absolute;
    top: 300px;
    color: rgb(128, 126, 127);
    font-family: "myriad-pro-condensed",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    width: 450px;
    line-height: 25px;
    padding-bottom: 15px;
    border-bottom: solid  rgb(128, 126, 127);
}